.bg_form_background {
  background: linear-gradient(to right, #f7c7b9, #f8e8e6);
  padding: 50px 0;
  min-height: 100vh;
}
.round {
  border-radius: 50px;
  background-color: rgb(223, 228, 244);
 
}
.pading {
  background-color: rgb(75, 75, 74);
  padding: 2px;
  border-radius: 10px;
}
